<footer class="site-footer">

  <div class="container">
    <div class='section'>
      <div class="footer-left">
        <ul class="contact-list">
          <li>&#xA9; {{ site.title }} <span class='pipe'> | </span> 2017</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-right">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/{{ site.linkedin_username }}"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
            <li>
              <a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
