// Header Nav
.header-nav {
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid $lime-green;
  background: white;
  font-family: $primary-font;


  .header-site-title {
    position: absolute;
    left: 15px;
    margin-bottom: 0;
    line-height: 56px;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    text-decoration: none;

    @media ( min-width: #{map-get( $breakpoints, 'large' )} ) {
      position: relative;
      left: 0;
      float: left;
    }
  }

  .site-nav {
    width: 100px;
    height: 56px;
    position: absolute;
    float: right;
    line-height: 56px;
    right: 15px;

    @media ( min-width: #{map-get( $breakpoints, 'large' )} ) {
      position: relative;
      left: 0;
    }

    .nav-icons {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      transition: color 0.5s ease;
      cursor: pointer;
      color: $black;

      &.fa-times {
        display: none;
        // opacity: 0;
      }

      &:hover {
        color: $lime-green;
      }
    }
  }

  .site-nav-links {
    display: none;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 57px;
    margin-left: 0;
    border-bottom: 1px solid black;
    background: white;
    list-style: none;

    @include media-query( #{map-get( $breakpoints, 'small' )} ) {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }

    li {
      display: block;
      padding: 20px 0;
      font-size: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
